/* Globals */
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Gray);
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}

input,
input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input::placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

.hide {
  display: none !important;
}

.pull-right {
  margin-left: auto !important;
}

.btn-solid {
  padding: 5px 15px !important;
  color: white !important;
  background-color: var(--Cyan) !important;
  border-radius: 100vh !important;
  border: 2px solid var(--Cyan) !important;
  -webkit-transition: opacity 0.2s ease-out !important;
  transition: opacity 0.2s ease-out !important;
}

.btn-solid:hover {
  opacity: 0.8 !important;
}

.btn-solid-secondary {
  padding: 5px 15px !important;
  color: white !important;
  background-color: var(--Cyan) !important;
  border-radius: 5px !important;
  border: 2px solid var(--Cyan) !important;
  -webkit-transition: opacity 0.2s ease-out !important;
  transition: opacity 0.2s ease-out !important;
}

.btn-solid-secondary:hover {
  opacity: 0.8 !important;
}

/* End of Globals */
/* Navbar */
.nav {
  height: 80px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  margin-top: 10px;
}

.navbar__links {
  font-size: 0.8rem;
  margin: 0 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  color: var(--Grayish-Violet);
  margin: 0 10px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.navbar__link:first-child {
  margin-left: 0;
}

.navbar__link:last-child {
  margin-right: 0;
}

.navbar__link:hover {
  color: var(--Dark-Violet);
}

/* End of Navbar */
/* Main */
.main {
  margin-top: 80px;
}

/* End of Main */
/* Hero */
.hero {
  overflow: hidden;
  padding: 2rem 0 5rem 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: white;
}

.hero .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.hero .banner__heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

.hero .banner__text {
  margin: 20px 0;
  color: var(--Grayish-Violet);
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__image-src {
  margin-right: -5rem;
  margin-left: 5rem;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/* End of Hero */
/* Start of Shorten */
.shorten {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--Dark-Violet);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form {
  border-radius: 10px;
  width: 100%;
  padding: 2.5rem;
  background: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  gap: 1rem;
  position: relative;
}

.form__input {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  color: var(--Red);
}

.form__input:-ms-input-placeholder {
  color: var(--Red);
}

.form__input::-ms-input-placeholder {
  color: var(--Red);
}

.form__input::placeholder {
  color: var(--Red);
}

.form__input--error {
  border: 2px solid var(--Red);
}

.form__error {
  position: absolute;
  font-size: 0.8rem;
  bottom: 10%;
  left: 2.5rem;
  color: var(--Red);
}

.form__btn {
  font-size: 1rem;
  letter-spacing: 1px;
}

/* End of Shorten */
/* Results */
.results {
  width: 80%;
  margin: -2rem auto 0;
}

.result {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr 2fr;
      grid-template-columns: 8fr 2fr 2fr;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin: 1rem 0;
}

.result:first-child {
  margin-top: 0;
}

.result:last-child {
  margin-bottom: 0;
}

.result__input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.result__output {
  color: var(--Cyan);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.result__copy {
  padding: 5px 15px;
  color: white;
  font-size: 1rem;
  background-color: var(--Cyan);
  border-radius: 5px;
  border: 2px solid var(--Cyan);
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.result__copy:hover {
  background-color: var(--Very-Dark-Violet);
  border-color: var(--Very-Dark-Violet);
}

/* End of Results */
/* Media Queries */
/* Max Screen Size : 1280px */
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

/* Max Screen Size : 768px */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* End of Media Queries */
/*# sourceMappingURL=index.css.map */