/* Globals */
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Gray);
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}

input,
input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
input::placeholder {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

.hide {
  display: none !important;
}

.black-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 9;
  pointer-events: all;
}

.nav-pull-right {
  margin-left: auto !important;
}

.btn-solid {
  padding: 5px 15px !important;
  color: white !important;
  background-color: var(--Cyan) !important;
  border-radius: 100vh !important;
  border: 2px solid var(--Cyan) !important;
  -webkit-transition: opacity 0.2s ease-out !important;
  transition: opacity 0.2s ease-out !important;
}

.btn-solid:hover {
  opacity: 0.8 !important;
}

.btn-solid-secondary {
  padding: 5px 15px !important;
  color: white !important;
  background-color: var(--Cyan) !important;
  border-radius: 5px !important;
  border: 2px solid var(--Cyan) !important;
  -webkit-transition: opacity 0.2s ease-out !important;
  transition: opacity 0.2s ease-out !important;
}

.btn-solid-secondary:hover {
  opacity: 0.8 !important;
}

/* End of Globals */
/* Navbar */
.nav {
  height: 80px;
  padding: 0 10%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  margin-top: 10px;
}

.navbar__collapse {
  width: 30px;
  height: 30px;
  background: url("../images/icon-hamburger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  display: none;
}

.navbar__collapse--close {
  background: url("../images/icon-close.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__links {
  font-size: 0.8rem;
  margin: 0 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  color: var(--Grayish-Violet);
  margin: 0 10px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.navbar__link:first-child {
  margin-left: 0;
}

.navbar__link:last-child {
  margin-right: 0;
}

.navbar__link:hover {
  color: var(--Dark-Violet);
}

/* End of Navbar */
/* Main */
.main {
  margin-top: 80px;
}

/* End of Main */
/* Hero */
.hero {
  overflow: hidden;
  padding: 2rem 0 5rem 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: white;
}

.hero .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.hero .banner__heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

.hero .banner__text {
  margin: 20px 0;
  color: var(--Grayish-Violet);
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__image-src {
  margin-right: -5rem;
  margin-left: 5rem;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/* End of Hero */
/* Start of Shorten */
.shorten {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--Dark-Violet);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form {
  border-radius: 10px;
  width: 100%;
  padding: 2.5rem;
  background: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  gap: 1rem;
  position: relative;
}

.form__input {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid white;
}

.form__input::-webkit-input-placeholder {
  color: var(--Red);
}

.form__input:-ms-input-placeholder {
  color: var(--Red);
}

.form__input::-ms-input-placeholder {
  color: var(--Red);
}

.form__input::placeholder {
  color: var(--Red);
}

.form__input--error {
  border: 2px solid var(--Red);
}

.form__error {
  position: absolute;
  font-size: 0.8rem;
  bottom: 10%;
  left: 2.5rem;
  color: var(--Red);
}

.form__btn {
  font-size: 1rem;
  letter-spacing: 1px;
}

/* End of Shorten */
/* Results */
.results {
  width: 80%;
  margin: -2rem auto 0;
}

.result {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr 2fr;
      grid-template-columns: 8fr 2fr 2fr;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin: 1rem 0;
}

.result:first-child {
  margin-top: 0;
}

.result:last-child {
  margin-bottom: 0;
}

.result__input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.result__output {
  color: var(--Cyan);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.result__copy {
  padding: 5px 15px;
  color: white;
  font-size: 1rem;
  background-color: var(--Cyan);
  border-radius: 5px;
  border: 2px solid var(--Cyan);
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.result__copy:hover {
  background-color: var(--Very-Dark-Violet);
  border-color: var(--Very-Dark-Violet);
}

/* End of Results */
/* Stats */
.stats {
  margin-top: 6rem;
}

.stats__container {
  width: 80%;
  margin: 0 auto;
}

.stats__heading {
  font-size: 2rem;
  text-align: center;
}

.stats__text {
  text-align: center;
  color: var(--Dark-Violet);
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.stats__cards {
  display: -ms-grid;
  display: grid;
  margin-top: 8rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stats .card {
  background-color: white;
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  position: relative;
}

.stats .card:first-child {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.stats .card:last-child {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.stats .card__img {
  height: 60px;
  width: 60px;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--Very-Dark-Violet);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: -30px;
}

.stats .card__title {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.stats .card__subtitle {
  color: var(--Grayish-Violet);
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* End of Stats */
/* Boost */
.boost {
  margin-top: 7rem;
  background-color: var(--Dark-Violet);
  text-align: center;
}

.boost__container {
  width: 100%;
  padding: 1.5rem 0;
  background: url("../images//bg-boost-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.boost__heading {
  color: white;
}

.boost__btn {
  margin-top: 1rem;
}

/* End of Boost */
/* Footer  */
.footer {
  padding: 2rem 10%;
  display: -ms-grid;
  display: grid;
  background-color: var(--Very-Dark-Violet);
  -ms-grid-columns: 2fr 5fr 3fr;
      grid-template-columns: 2fr 5fr 3fr;
  gap: 2rem;
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer__nav-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
}

.footer__col-title {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.footer__col-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__col-link {
  color: var(--Gray);
  font-size: 0.8rem;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social-link {
  margin: 0 0.5rem;
}

/* End of Footer */
/* Media Queries */
/* Max Screen Size : 1280px */
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

/* Max Screen Size : 796px */
@media screen and (max-width: 796px) {
  .nav-pull-right {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1.5px solid white;
  }
  html {
    font-size: 14px;
  }
  .navbar {
    display: block;
  }
  .navbar__brand {
    margin-top: 25px;
  }
  .navbar__collapse {
    display: block;
    float: right;
    margin-top: 25px;
  }
  .navbar__links {
    display: none;
    text-align: center;
    margin: 25px 0 0;
    background-color: var(--Dark-Violet);
    padding: 2rem;
    border-radius: 10px;
  }
  .navbar__links--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar__link {
    display: block;
    font-size: 1.2rem;
    color: white;
    margin: 1rem 0;
  }
  .navbar__link:hover {
    color: var(--Gray);
  }
  .hero {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .banner {
    width: 80%;
    margin: 4rem auto;
    text-align: center;
  }
  .hero .banner__heading {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
  .hero .banner__btn {
    margin: 0 auto;
  }
  .shorten .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1rem;
    width: 100%;
    background: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .shorten .form__input {
    width: 100%;
  }
  .shorten .form__error {
    top: 45%;
  }
  .shorten .form__btn {
    margin-top: 1.5rem;
  }
  .results {
    margin-top: -3rem;
  }
  .result {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  .result__input {
    border-bottom: 1px solid var(--Dark-Violet);
    padding-bottom: 1rem;
  }
  .stats__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .stats .card {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: center;
    padding: 2rem 1rem;
  }
  .stats .card__img {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__brand {
    margin: 0 auto;
  }
  .footer__nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__nav-col {
    margin-right: auto;
    margin-top: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav-col:first-child {
    margin-top: 0;
  }
  .footer__col-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social-links {
    margin-top: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* End of Media Queries */
/*# sourceMappingURL=index.css.map */